.form > textarea {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.warning-text {
  color: black;
}

.cursor-pointer {
  cursor: pointer;
}
