.pre-wrap {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.progress.loop::after {
  top: 0;
}

.progress-success .progress-meter::before,
.progress-success .progress.loop::after {
  background-color: #62a420;
}

.progress-warning .progress-meter::before,
.progress-warning .progress.loop::after {
  background-color: #F8C52D;
}

.progress-error .progress-meter::before,
.progress-error .progress.loop::after {
  background-color: #C52400;
}

.progress-aborted .progress-meter::before,
.progress-aborted .progress.loop::after {
  background-color: transparent;
}

:host ::ng-deep .card-text-warning {
  color: #8E5F19;
}

:host ::ng-deep .card-text-error { }

:host ::ng-deep .card-filename {
  text-shadow: 0 0 10px #909090;
}
