<app-report-issue></app-report-issue>
<clr-dropdown>
  <button type="button" class="btn btn-link" clrDropdownTrigger [disabled]="!dropzone.enabled">
    {{libText()}}
    <clr-icon shape="caret down"></clr-icon>
  </button>
  <clr-dropdown-menu *clrIfOpen>
    <button type="button" clrDropdownItem *ngFor="let x of libs" (click)="settings.libId = x.id; dropzone.resubmit();">
      {{x.text}}
    </button>
  </clr-dropdown-menu>
</clr-dropdown>
<clr-checkbox [clrInline]="true" [(clrChecked)]="settings.fixFillType" (clrCheckedChange)="dropzone.resubmit()"
              [clrDisabled]="!dropzone.enabled">
  Fix fill type
  <a href="https://github.com/a-student/SvgToVectorDrawableConverter#not-supported-svg-features"
     class="tooltip tooltip-right">
    <clr-icon shape="help"></clr-icon>
    <span class="tooltip-content">
      Rebuild paths in such a way that rendering with any fill-rule leads to the same result.
    </span>
  </a>
</clr-checkbox>
<app-dropzone #dropzone (restart)="restart()" (converting)="converting($event)" (complete)="complete($event)"></app-dropzone>
<button class="btn btn-sm" (click)="dropzone.reset()" [disabled]="!dropzone.canReset">
  <clr-icon shape="undo"></clr-icon>
  Reset
</button>
<div class="card" [@slideTop]="cardState">
  <div class="card-block">
    <div class="progress-{{progressStateEnum[progressState] | lowercase}}">
      <div *ngIf="!isProgressRunning; else runningProgress" class="progress-static top">
        <div class="progress-meter" data-value="100"></div>
      </div>
      <ng-template #runningProgress>
        <div class="progress loop top"><progress value="0"></progress></div>
      </ng-template>
    </div>
    <div class="card-title" [innerHTML]="cardTitle"></div>
    <div class="card-text pre-wrap" [innerHTML]="cardText | cardTextBeautify"></div>
  </div>
  <div class="card-footer" [hidden]="fileCount <= 0 && progressState !== progressStateEnum.Aborted && !isProgressRunning">
    <button class="btn"
            [class.btn-primary]="!isProgressRunning && progressState !== progressStateEnum.Aborted"
            [class.btn-success]="progressState === progressStateEnum.Success"
            (click)="saveZip()" [hidden]="fileCount <= 0">
      <clr-icon shape="download"></clr-icon>
      {{fileCount > 1 ? 'Save ZIP with ' + fileCount + ' vector drawables' : 'Save ZIP with 1 vector drawable'}}
    </button>
    <button class="btn btn-primary"
            (click)="dropzone.resubmit(true)" [hidden]="progressState !== progressStateEnum.Aborted">
      <clr-icon shape="refresh"></clr-icon>
      Rerun
    </button>
    <button class="btn btn-link"
            (click)="abortConversionModalOpen = true" [hidden]="!isProgressRunning">
      <clr-icon shape="times"></clr-icon>
      Abort
    </button>
  </div>
</div>
<clr-modal [(clrModalOpen)]="abortConversionModalOpen">
  <h3 class="modal-title">Abort conversion</h3>
  <div class="modal-body">
    <p>Are you sure you want to abort the conversion?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="abortConversionModalOpen = false">No, close this</button>
    <button type="button" class="btn btn-danger" (click)="dropzone.cancel(true)">Yes, abort conversion</button>
  </div>
</clr-modal>
<app-xml-view [title]="singleFileTitle" [xml]="singleFileXml" [@slideTop]="xmlViewState"></app-xml-view>
