<div class="main-container">
  <header class="header header-7">
    <div class="branding no-select">
      <span class="title">SvgToVectorDrawableConverter.Web</span>
    </div>
    <div class="header-actions">
      <a href="https://github.com/a-student/SvgToVectorDrawableConverter.Web" title="View project on GitHub" class="nav-link nav-icon">
        <clr-icon shape="github-icon"></clr-icon>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="main-content">
        <app-main></app-main>
        <footer class="footer">
          * Your files are not uploaded anywhere, the converter runs in the browser.<br>
          If you are dissatisfied with some conversion result or experience any problems with this web page, please <a
            href="https://github.com/a-student/SvgToVectorDrawableConverter.Web/issues">create an issue</a>.
        </footer>
      </div>
    </div>
  </div>
</div>
