.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-content {
  min-width: 800px;
  max-width: 1200px;
  margin: auto;
}

.footer {
  margin-top: 1rem;
  border-top: 1px solid #ddd;
  padding: 0.5rem;
}
