<div class="root">
  <div *ngIf="state === stateEnum.Http">
    Since the web browser enforces the <a href="https://en.wikipedia.org/wiki/Same-origin_policy">same-origin policy</a>,
    a preview can only be requested from a page loaded via HTTP.
    <button class="btn btn-sm" (click)="switchToHttp()">
      <clr-icon shape="refresh"></clr-icon>
      Switch to HTTP
    </button>
  </div>
  <div *ngIf="state === stateEnum.Loading">
    <span class="spinner spinner-md"></span>
  </div>
  <div *ngIf="state === stateEnum.Ok">
    <img class="image" [src]="src">
    <div class="btn-group btn-sm scale-buttons">
      <button class="btn" [disabled]="scale === 0.75" (click)="reload(0.75)">0.75x</button>
      <button class="btn" [disabled]="scale === 1" (click)="reload(1)">1x</button>
      <button class="btn" [disabled]="scale === 1.5" (click)="reload(1.5)">1.5x</button>
      <button class="btn" [disabled]="scale === 2" (click)="reload(2)">2x</button>
      <button class="btn" [disabled]="scale === 3" (click)="reload(3)">3x</button>
      <button class="btn" [disabled]="scale === 4" (click)="reload(4)">4x</button>
    </div>
  </div>
  <div *ngIf="state === stateEnum.Error">
    {{errorMessage}}
    <button class="btn btn-sm" (click)="retry()">
      <clr-icon shape="repeat"></clr-icon>
      Retry
    </button>
  </div>
</div>
